*{
	margin: 0;
	padding: 0;
}
*, ::after, ::before {
	box-sizing: border-box;
}
body {
	font-family: arial,heveltica,sans-serif;
	font-size: 14px;
	color: #212020;
	line-height: 1.5;
	background: #fff;
	transition: opacity .4s ease;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}
.wrapper-fullwidth,
.wrapper {
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.wrapper-fullwidth {
	width: 100%;
}
.wrapper {
	width: 992px;
}
.header-content {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	border-bottom: 1px #dfdfdf solid;
}
.logo {
	width: 300px;
	display: block;
}
.logo img {
	max-width: 100%;
}
form.form-signin {
	display: flex;
	flex-basis: auto;
	justify-content: flex-end;
	flex-grow: 1;
    align-items: center;
}
form.form-signin .form-group {
	margin-right: 10px;
}
.form-group input{
	width: 120px;
	padding: 8px 5px;
	border: 1px #bababa solid;
	box-shadow: none;
	outline: none;
	color: #353535;
}
.btn-signin,
.btn-share {
	margin-right: 10px;
}
.btn {
	border: none;
	box-shadow: none;
	outline: none;
	background: #0c70ce;
	color: #ffffff;
	padding: 8px 10px;
	cursor: pointer;
}
.btn:focus {
	background: #0b64b8;
}
.content-group {
	padding:50px 0px;
	width: 100%;
}
.list-content {
	display: flex;
	width: 100%;
	align-items: center;
	margin-bottom: 50px;
	text-align: left;
}
.list-content .iframe-video {
	flex: 0 0 40%;
	padding-right: 25px;
}
.list-content .iframe-video img {
	width: 100%;
}
.list-content .content-movie {
    max-width: 100%;
}
.list-content .content-movie .movie-title {
	margin-bottom: 7px;
}
.list-content .content-movie .movie-title h1 {
	font-size: 20px;
}
.list-content .content-movie .shared-by {
	color: #596969;
}
.list-content .content-movie .description {
	text-align: justify;
}
.list-content .content-movie .like-group{
	margin: 5px auto;
}
.like-group span {
	margin-right: 20px;
	display: inline-block;
	position: relative;
}
.like-group p {
	margin-left: 24px;
}
.like-group .icon-like,
.like-group .icon-dislike {
	background: url(assets/like.png) no-repeat;
	background-size: cover;
	width: 19px;
	height: 20px;
	position: absolute;
	top: 0;
	left: 0;
}
.like-group .icon-dislike {
	background: url(assets/dislike.png) no-repeat;
	background-size: cover;
}

.case-signin .list-content{
	position: relative;
}
.case-signin .list-content .movie-title {
	margin-right: 150px;
}
.voted {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
}
.voted .ico-like,
.voted .ico-dislike {
	background: transparent;
	margin-left: 20px;
	padding: 0;
}
.voted .ico-like img,
.voted .ico-dislike img {
	width: 49px;
}

.share-movie {
	width: 600px;
	margin: 0 auto;
	padding: 50px 0;
}
.share-movie .form-share-movie {
	border: 1px #dfdfdf solid;
	padding: 40px 40px 35px 20px;
	position: relative;
}
.form-share-movie .title-share {
	position: absolute;
	top: -15px;
	left: 15px;
	background: #ffffff;
	padding: 3px 5px;
}
.form-share-movie .form-group {
	margin-bottom: 15px;
	display: flex;
}
.form-share-movie .form-group label {
	width: 100px;
	display: inline-block;
	min-height: 1px;
	white-space: nowrap;
	margin-top: 5px;
}
.form-share-movie input {
	width: 100%;
	margin-left: 15px;
}
.form-share-movie .btn-submit-share {
	display: block;
	width: 100%;
	padding: 10px 0px;
	margin-left: 20px;
}