<template>
  <main class="main-content">
    <div class="wrapper">
      <MovieList empty-message="Opps, no movies share yet!" :movies="movies" />  
    </div>
  </main>
</template>

<script>
import MovieList from '@/components/MovieList.vue';
import actionTypes from '@/store/action-types';

export default {
  name: 'movies',
  components: {
    MovieList,
  },
  data: () => ({
  }),
  computed: {
    movies() {
      return this.$store.state.movies;
    },
  },
  methods: {
    scroll() {
      window.onscroll = () => {
        let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight;
        if (bottomOfWindow) {
          const movie = this.$store.state.movies[this.$store.state.movies.length - 1];
          const { dispatch } = this.$store;
          dispatch(actionTypes.LOAD_MOVIES, {
            lastId: movie._id,
          });
        }
      };
    },
  },
  mounted() {
    this.scroll();
  }
};
</script>

<style scoped lang="scss">
.movies-page {
}
</style>
