<template>
  <main class="main-content">
    <div class="wrapper">
      <div class="share-movie">
        <form action="" class="form-share-movie">
          <span class="title-share">Share a Youtube movie</span>
          <div class="form-group">
            <label>Youtube URL:</label>
            <input type="url" class="form-control" v-model.trim="link"/>
          </div>
          <div class="form-group">
            <label></label>
            <button class="btn btn-submit-share" @click="share">Share</button>
          </div>
        </form>
      </div>
    </div>
  </main>
</template>

<script>
import actionTypes from '@/store/action-types';

export default {
  name: 'sharemovie',
  components: {},
  data: () => ({
    link: '',
  }),
  computed: {},
  methods: {
    share() {
      if (!this.link) {
        return;
      }
      const { dispatch } = this.$store;
      dispatch(actionTypes.SHARE_MOVIE, {
        link: this.link,
      });
      this.link = '';
      this.$router.push('/');
    },
  },
};
</script>

<style scoped lang="scss">
</style>
