<template>
  <div id="app">
    <AppHeader/>
    <router-view/>
  </div>
</template>

<script>
import actionTypes from '@/store/action-types'
import AppHeader from '@/components/AppHeader.vue';

export default {
  name: 'app',
  components: {
    AppHeader
  },
  beforeCreate () {
    this.$store.dispatch(actionTypes.LOAD_CONTRIBUTOR_AND_MOVIES);
  },
  computed: {
    moviesCount() {
      return this.$store.getters.moviesCount;
    },
  }
};
</script>

<style lang="scss">
</style>
