<template>
  <header>
    <div class="wrapper-fullwidth">
      <div class="header-content">
        <a href="#" class="logo"><img src="../assets/logo.png"></a>
        <form action="" class="form-signin" v-if="contributor.isLogged">
          <div class="form-group">
            <label>Welcome {{ contributor.email }}</label>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-signin" @click="logout">Logout</button>
          </div>
          <router-link to="/sharemovie">Share a movie</router-link>
        </form>
        <form action="" class="form-signin" v-else>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="email" v-model.trim="email"/>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" v-model.trim="password" placeholder="password">
          </div>
          <button type="button" class="btn btn-signin" @click="loginOrRegister">Login / Register</button>
        </form>
      </div>
    </div>
  </header>
</template>

<script>

import actionTypes from '@/store/action-types';

export default {
  name: 'AppHeader',
  components: {},
  props: {},
  data: () => ({
    email: '',
    password: '',
  }),
  computed: {
    contributor() {
      return this.$store.state.contributor;
    },
  },
  methods: {
    loginOrRegister() {
      if (!this.email || !this.password) {
        return;
      }
      const { dispatch } = this.$store;
      dispatch(actionTypes.LOGIN_OR_REGISTER, {
        email: this.email,
        password: this.password,
      });
      this.email = '';
      this.password = '';
    },
    logout() {
      const { dispatch } = this.$store;
      dispatch(actionTypes.LOGOUT, {});  
    }
  },
};
</script>

<style lang="scss" scoped>
</style>