<template>
  <div class="content-group" v-if="movies && movies.length">
    <MovieItem v-for="movie in movies" :key="movie.id" :movie-id="movie.id" :movie="movie" />
  </div>
  <div class="empty-message" v-else>{{ emptyMessage || 'Opps, no movies share yet!' }}</div>
</template>

<script>
import MovieItem from '@/components/MovieItem.vue';

export default {
  name: 'MovieList',
  components: {
    MovieItem,
  },
  props: {
    emptyMessage: String,
    movies: Array
  },
};
</script>

<style scoped lang="scss">
</style>
