<template>
  <div class="list-content">
    <div class="iframe-video">
      <youtube :video-id="getMovieId" ref="youtube"></youtube>
    </div>
    <div class="content-movie">
      <div class="movie-title"><h1>{{ movie.title }}</h1></div>
      <div class="shared-by">Shared by {{ movie.contributor.email }}</div>
      <div class="like-group">
        <span><i class="icon-like"></i><p>100</p></span>
        <span><i class="icon-dislike"></i><p>12</p></span>
      </div>
      <div class="description">
        <p>{{ movie.description }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import actionTypes from '@/store/action-types';

export default {
  name: 'MovieItem',
  props: {
    movieId: String,
    movie: Object
  },
  data: () => ({
  }),
  computed: {
    getMovieId() {
      return this.$youtube.getIdFromUrl(this.movie.link);
    }
  },
};
</script>

<style scoped lang="scss">
</style>
